<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">VALUE</a>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Add a person">
</form>

<form th:method="GET" th:action="@{/people/test_batch}">
    <input type="submit" value="Add a 10 test person using Batch mode">
</form>
</body>
</html>